@model List<Perdidas>
<div class="page-title dark-background aos-init aos-animate" data-aos="fade" style="background-image: url(assets/img/travel/showcase-8.webp);">
    <div class="container position-relative">
        <h1>Gastos del Mes</h1>
        <p>Todos los gastos registrados durante el mes</p>
        <nav class="breadcrumbs">
            <ol>
                <li class="current">Home</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <div class="list-unstyled mb-0 row">
            <div class="col-auto">
                <h3>Gastos</h3>
            </div>
            <div class="col-auto ms-auto">
                <a asp-action="Create"><i class="bi bi-plus-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>monto</th>
                    <th>Description</th>
                    <th>Fecha</th>
                    <th>Categoria</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.Monto</td>
                        <td>@item.descripcion</td>
                        <td>@item.fecha</td>
                        <td>@item.category?.name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}